body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}

.header-main {
    color: white;
    font-size: 50px;
    font-weight: 400;
}

.header-two {
    color: white;
    font-size: 42px;
    font-weight: 300;
}

/* .centered {
    text-align: center;
} */

.link-cta {
    color: aquamarine;
    font-size: 16px;
}

p.explainer {
    color: gray;
    font-size: 21px;
}

footer {
    color: gray;
    font-size: 18px;
    text-align: right;
}